@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700');
@import '../../node_modules/bulma/css/bulma.css';
@import '../vendor/jquery.fullpage.min.css';
@import '../vendor/grid.scss';

$dark_gray: #6B6B6B;
$black: #4D4D4D;
$lightgray: #F2F2F2;
$white: #fff;

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #F2F2F2;
}

@mixin clearfix() {
  :before, :after {
    content: "";
    display: table;
  }
  :after {
    clear: both;
  }
}

.section {
    padding: 0;
    margin: 0;
}

.row {
  width: 100%;
  @include clearfix();
}

.column {
    float: left;
    width: 100%;
    &--half {
        width: 50%;
    }
    &--right {
      float: right;
    }
}

.content {
    &--right {
        text-align: right;
    }
}

.menu {
    position: absolute;
    padding-top: 30px;
    background-color: $lightgray;
}

.logo {
    #{&}__icon {
        display: inline-block;
        height: 46px;
        width: 35px;
        margin-right: 10px;
    }
    #{&}__text {
        transform: translate(0, -1px);
        display: inline-block;
        font-size: 12px;
        font-weight: 400;
        color: $dark_gray;

        &--strong {
            line-height: 24px;
            font-weight: 700;
            font-size: 18px;
            color: $black;
        }
    }
}

.toggle {
    z-index: 1000;
    position: absolute;
    right: 0;
}

// Overlay
.overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9999;

  .overlay__item {
    position: fixed;
    color: #fff;
    font-size: 14px;
    line-height: 20px;

    :first-child {
      font-weight: 800;
      font-size: 16px;
    }

    &.overlay__years {
      width: 230px;
      margin-left: 335px;
      top: 50%;
      transform: translateY(-50%);

      &:before {
        content: '';
        display: block;
        width: 70px;
        height: 15px;
        background-image: url('../maps/arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 40px;
        left: -70px;
      }
    }

    &.overlay__map {
      width: 310px;
      top: 38%;
      right: 50%;
      margin-right: -530px;

      &:before {
        content: '';
        display: block;
        width: 70px;
        height: 15px;
        background-image: url('../maps/arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 40px;
        left: -70px;
      }
    }

    &.overlay__districts {
      width: 310px;
      top: 55%;
      right: 280px;
      text-align: right;

      &:before {
        content: '';
        display: block;
        width: 70px;
        height: 15px;
        background-image: url('../maps/arrow_right.svg');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 30px;
        right: -80px;
      }
    }

    &.overlay__view {
      width: 200px;
      top: 30px;
      right: 550px;
      text-align: right;

      &:before {
        content: '';
        display: block;
        width: 70px;
        height: 15px;
        background-image: url('../maps/arrow_right.svg');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 25px;
        right: -85px;
      }
    }
  }
}

// MAP
svg.map-container {
  z-index: 10;
  position: fixed;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -48%);

  .change {
    fill: $black;
    font-size: 12px;
    font-weight: 600;

    &--neg {
      fill: red;
      font-size: 12px;
      font-weight: 600;
    }

    &--pos {
      fill: green;
      font-size: 12px;
      font-weight: 600;
    }
  }

  text {
    font-size: 10px;
    pointer-events: none;
    font-weight: 400;
  }
}

.year {
  margin-left: 150px;
  font-weight: 800;
  font-size: 48px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.total {
  margin-left: 150px;
  font-weight: 400;
  font-size: 14px;
  position: fixed;
  top: 50%;
  transform: translateY(100%);
}

.count {
  margin-left: 150px;
  font-weight: 400;
  font-size: 14px;
  position: fixed;
  top: 50%;
  transform: translateY(-200%);
}

.navigation {
    //text-align: right;
    #{&}__button {

    }
}

// GUI
#fp-nav ul li a span {
  background: $black;
}

#fp-nav ul li a.active span {
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;

}

.wrapper {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: black;

  .legend {
      display: inline-block;

      &__headline {
        text-align: left;
        font-size: 12px;
        color: $dark_gray;
      }
  }

  .colors {
    &__dot {
      width: 10px;
      height: 10px;
      display: inline-block;
      background: red;
      border-radius: 50%;
    }
  }

  .explanation {
      margin-left: 20px;
      display: inline-block;
      text-align: left;

      .circle {
        width: 5px;
        height: 5px;
        display: inline-block;
        background: $black;
        border-radius: 50%;

        &--large {
          height: 10px;
          width: 10px;
        }
      }

      &__headline {
        text-align: left;
        font-size: 12px;
        color: $dark_gray;
      }
  }
}


.district-list {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    padding-right: 100px;
    text-align: right;
    z-index: 2130;

    li span {
        cursor: pointer;
        display: inline-block;
        padding: 2px 10px;
        margin: 3px 0;
        font-size: 12px;
        color: $black;
        border: 2px solid $lightgray;
        border-radius: 15px;
        border-bottom-left-radius: 0;
    }
}
.chart {
    position: absolute;
    top: 0;
    left: 0;
  &__bar {
    background-color: lightgray;
    font-size: 12px;
    line-height: 24px;
    height: 30px;
    text-align: right;
    padding: 3px;
    margin: 5px;
    color: white;

    &:hover {
      background-color: green;
    }

    &--active {
      background-color: green;
    }
  }
}
